<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Level</h1>
<a href="/toLogin">登录</a>
<a href="/logout">注销</a><br/>
<a href="/toLevel1/a">level1-a</a>
<a href="/toLevel1/b">level1-b</a>
<a href="/toLevel1/c">level1-c</a><br/>
<a href="/toLevel2/a">level2-a</a>
<a href="/toLevel2/b">level2-b</a>
<a href="/toLevel2/c">level2-c</a><br/>
<a href="/toLevel3/a">level3-a</a>
<a href="/toLevel3/b">level3-b</a>
<a href="/toLevel3/c">level3-c</a>
</body>
</html>